<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bulma.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>OAuth2 Service Provider Authorization Page (NON-PRODUCTION)</title>
</head>

<body>
    <div class="container">
            <article class="message">
                <div class="message-header">
                    <p>OAuth2 Service Provider Authorization Page</p>
                </div>
                <table>
                    <thead>
                        <tr>
                        <th scope="col">key</th>
                        <th scope="col">value</th>
                        </tr>
                    </thead>
                    {% for key, value in data.items() %}
                    <tr>
                        <td class="key">{{key}}</td>
                        <td class="data">{{value}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </article>
    </div>
</body>
</html>